<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2015-03-17T12:00:00Z</date>
		<key>impressions</key>
		<integer>539</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-18T12:00:00Z</date>
		<key>impressions</key>
		<integer>538</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-19T12:00:00Z</date>
		<key>impressions</key>
		<integer>498</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-20T12:00:00Z</date>
		<key>impressions</key>
		<integer>1654</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-21T12:00:00Z</date>
		<key>impressions</key>
		<integer>748</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-22T12:00:00Z</date>
		<key>impressions</key>
		<integer>1025</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-23T12:00:00Z</date>
		<key>impressions</key>
		<integer>669</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-24T12:00:00Z</date>
		<key>impressions</key>
		<integer>933</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-25T12:00:00Z</date>
		<key>impressions</key>
		<integer>2021</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-26T12:00:00Z</date>
		<key>impressions</key>
		<integer>1526</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-27T12:00:00Z</date>
		<key>impressions</key>
		<integer>1769</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-28T12:00:00Z</date>
		<key>impressions</key>
		<real>4165</real>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-29T11:00:00Z</date>
		<key>impressions</key>
		<integer>2175</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-30T11:00:00Z</date>
		<key>impressions</key>
		<integer>1743</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-03-31T11:00:00Z</date>
		<key>impressions</key>
		<integer>2091</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-01T11:00:00Z</date>
		<key>impressions</key>
		<integer>1640</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-02T11:00:00Z</date>
		<key>impressions</key>
		<integer>1461</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-03T11:00:00Z</date>
		<key>impressions</key>
		<integer>817</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-04T11:00:00Z</date>
		<key>impressions</key>
		<integer>1661</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-05T11:00:00Z</date>
		<key>impressions</key>
		<integer>1604</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-06T11:00:00Z</date>
		<key>impressions</key>
		<integer>1521</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-07T11:00:00Z</date>
		<key>impressions</key>
		<integer>2003</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-08T11:00:00Z</date>
		<key>impressions</key>
		<integer>1286</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-09T11:00:00Z</date>
		<key>impressions</key>
		<integer>2228</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-10T11:00:00Z</date>
		<key>impressions</key>
		<integer>766</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-11T11:00:00Z</date>
		<key>impressions</key>
		<integer>649</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-12T11:00:00Z</date>
		<key>impressions</key>
		<integer>455</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2015-04-13T11:00:00Z</date>
		<key>impressions</key>
		<integer>93</integer>
	</dict>
</array>
</plist>
