<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cyclingDistance</key>
		<real>26.795680552181892</real>
		<key>date</key>
		<date>2015-03-15T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>10010</integer>
		<key>walkingDistance</key>
		<real>5.0755627774862138</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.373657290210648</real>
		<key>date</key>
		<date>2015-03-16T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9998</integer>
		<key>walkingDistance</key>
		<real>5.6882266599085529</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.93940442432454</real>
		<key>date</key>
		<date>2015-03-17T00:00:00Z</date>
		<key>flights</key>
		<integer>28</integer>
		<key>steps</key>
		<integer>10004</integer>
		<key>walkingDistance</key>
		<real>5.2896992263086942</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.955333640497177</real>
		<key>date</key>
		<date>2015-03-18T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9983</integer>
		<key>walkingDistance</key>
		<real>5.2273855991442524</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.198263648064327</real>
		<key>date</key>
		<date>2015-03-19T00:00:00Z</date>
		<key>flights</key>
		<integer>30</integer>
		<key>steps</key>
		<integer>9994</integer>
		<key>walkingDistance</key>
		<real>6.1387056186122377</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>28.528408567410395</real>
		<key>date</key>
		<date>2015-03-20T00:00:00Z</date>
		<key>flights</key>
		<integer>31</integer>
		<key>steps</key>
		<integer>10012</integer>
		<key>walkingDistance</key>
		<real>7.037222072837892</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.717334342199567</real>
		<key>date</key>
		<date>2015-03-21T00:00:00Z</date>
		<key>flights</key>
		<integer>25</integer>
		<key>steps</key>
		<integer>9982</integer>
		<key>walkingDistance</key>
		<real>7.5410142312571002</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.996252874667739</real>
		<key>date</key>
		<date>2015-03-22T00:00:00Z</date>
		<key>flights</key>
		<integer>28</integer>
		<key>steps</key>
		<integer>10018</integer>
		<key>walkingDistance</key>
		<real>4.0566041783103257</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.392040443509202</real>
		<key>date</key>
		<date>2015-03-23T00:00:00Z</date>
		<key>flights</key>
		<integer>32</integer>
		<key>steps</key>
		<integer>9995</integer>
		<key>walkingDistance</key>
		<real>2.6904769873921581</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>28.247846469101329</real>
		<key>date</key>
		<date>2015-03-24T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9996</integer>
		<key>walkingDistance</key>
		<real>5.2219758401067136</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.792146272824422</real>
		<key>date</key>
		<date>2015-03-25T00:00:00Z</date>
		<key>flights</key>
		<integer>32</integer>
		<key>steps</key>
		<integer>9974</integer>
		<key>walkingDistance</key>
		<real>7.8389795392384709</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>31.178353602771239</real>
		<key>date</key>
		<date>2015-03-26T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>10035</integer>
		<key>walkingDistance</key>
		<real>3.1388533018485534</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>26.329429671982847</real>
		<key>date</key>
		<date>2015-03-27T00:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9997</integer>
		<key>walkingDistance</key>
		<real>3.7276388571951697</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>29.921331159408602</real>
		<key>date</key>
		<date>2015-03-28T00:00:00Z</date>
		<key>flights</key>
		<integer>27</integer>
		<key>steps</key>
		<integer>10000</integer>
		<key>walkingDistance</key>
		<real>5.2289602055194093</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.993475367155533</real>
		<key>date</key>
		<date>2015-03-29T00:00:00Z</date>
		<key>flights</key>
		<integer>26</integer>
		<key>steps</key>
		<integer>9995</integer>
		<key>walkingDistance</key>
		<real>6.4312189995619269</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>31.920828368717348</real>
		<key>date</key>
		<date>2015-03-29T23:00:00Z</date>
		<key>flights</key>
		<integer>26</integer>
		<key>steps</key>
		<integer>9973</integer>
		<key>walkingDistance</key>
		<real>3.5144489884948724</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.030322646317135</real>
		<key>date</key>
		<date>2015-03-30T23:00:00Z</date>
		<key>flights</key>
		<integer>31</integer>
		<key>steps</key>
		<integer>10003</integer>
		<key>walkingDistance</key>
		<real>6.3607148833507754</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>32.744562888775945</real>
		<key>date</key>
		<date>2015-03-31T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>10021</integer>
		<key>walkingDistance</key>
		<real>4.7956920682878152</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.239314315217989</real>
		<key>date</key>
		<date>2015-04-01T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>10004</integer>
		<key>walkingDistance</key>
		<real>5.10492193066609</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.979394698873293</real>
		<key>date</key>
		<date>2015-04-02T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9997</integer>
		<key>walkingDistance</key>
		<real>6.130106840627267</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>31.119706934706116</real>
		<key>date</key>
		<date>2015-04-03T23:00:00Z</date>
		<key>flights</key>
		<integer>27</integer>
		<key>steps</key>
		<integer>9993</integer>
		<key>walkingDistance</key>
		<real>5.6941144351561421</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>28.648528250460352</real>
		<key>date</key>
		<date>2015-04-04T23:00:00Z</date>
		<key>flights</key>
		<integer>27</integer>
		<key>steps</key>
		<integer>9993</integer>
		<key>walkingDistance</key>
		<real>5.7957702871960706</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>25.154182046605076</real>
		<key>date</key>
		<date>2015-04-05T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9985</integer>
		<key>walkingDistance</key>
		<real>5.6010450059700077</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>35.072898030038822</real>
		<key>date</key>
		<date>2015-04-06T23:00:00Z</date>
		<key>flights</key>
		<integer>28</integer>
		<key>steps</key>
		<integer>10016</integer>
		<key>walkingDistance</key>
		<real>5.1175252045039548</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>27.103327112020438</real>
		<key>date</key>
		<date>2015-04-07T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>10004</integer>
		<key>walkingDistance</key>
		<real>7.5538460365428772</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>28.871078975597822</real>
		<key>date</key>
		<date>2015-04-08T23:00:00Z</date>
		<key>flights</key>
		<integer>28</integer>
		<key>steps</key>
		<integer>9986</integer>
		<key>walkingDistance</key>
		<real>4.6595699661786378</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.265913245260869</real>
		<key>date</key>
		<date>2015-04-09T23:00:00Z</date>
		<key>flights</key>
		<integer>33</integer>
		<key>steps</key>
		<integer>10029</integer>
		<key>walkingDistance</key>
		<real>5.6365631862510712</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>33.849872331715659</real>
		<key>date</key>
		<date>2015-04-10T23:00:00Z</date>
		<key>flights</key>
		<integer>29</integer>
		<key>steps</key>
		<integer>9938</integer>
		<key>walkingDistance</key>
		<real>3.7448635526261111</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>31.983824148554774</real>
		<key>date</key>
		<date>2015-04-11T23:00:00Z</date>
		<key>flights</key>
		<integer>30</integer>
		<key>steps</key>
		<integer>10016</integer>
		<key>walkingDistance</key>
		<real>5.4983115915715945</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>26.349778358372763</real>
		<key>date</key>
		<date>2015-04-12T23:00:00Z</date>
		<key>flights</key>
		<integer>30</integer>
		<key>steps</key>
		<integer>9952</integer>
		<key>walkingDistance</key>
		<real>4.2271488507452997</real>
	</dict>
	<dict>
		<key>cyclingDistance</key>
		<real>30.617459881081722</real>
		<key>date</key>
		<date>2015-04-13T23:00:00Z</date>
		<key>flights</key>
		<integer>30</integer>
		<key>steps</key>
		<integer>10020</integer>
		<key>walkingDistance</key>
		<real>4.7670939678116371</real>
	</dict>
</array>
</plist>
